In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('E:\ML\Bmi.csv')

In [3]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [6]:
df.isna().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

### convert gender male female to 1 and 0

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Gender"]=le.fit_transform(df.Gender)
df.head()

   Gender  Height  Weight  Index
0       1     174      96      4
1       1     189      87      2
2       0     185     110      4
3       0     195     104      3
4       1     149      61      3

In [8]:

x = df[["Gender","Height","Weight"]]
y = df.Index

In [9]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1,shuffle=True)

In [36]:
from sklearn.neighbors import KNeighborsClassifier
#knn = KNeighborsClassifier(n_neighbors=3,metric="euclidean")  91% accuracy
#knn = KNeighborsClassifier(n_neighbors=7,metric="euclidean")   88% accuracy
knn = KNeighborsClassifier(n_neighbors=1,metric="euclidean")

In [37]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(metric='euclidean', n_neighbors=1)

In [38]:
ypred=knn.predict(xtest)

In [39]:
xtrain.shape

(400, 3)

In [40]:
xtest.shape

(100, 3)

In [41]:
ypred

array([5, 4, 4, 2, 5, 4, 5, 1, 4, 5, 5, 3, 5, 4, 4, 4, 2, 5, 5, 3, 4, 4,
       5, 0, 5, 4, 5, 4, 4, 3, 3, 5, 3, 5, 3, 5, 2, 3, 4, 5, 2, 2, 5, 4,
       5, 3, 5, 5, 2, 5, 4, 0, 3, 2, 5, 0, 2, 5, 5, 2, 2, 0, 5, 5, 1, 5,
       2, 5, 4, 3, 4, 4, 5, 5, 5, 5, 5, 1, 4, 5, 5, 5, 3, 4, 2, 5, 4, 5,
       5, 5, 2, 5, 2, 5, 4, 4, 4, 3, 5, 4], dtype=int64)

In [42]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(ytest,ypred))

0.9

In [43]:
print(confusion_matrix(ytest,ypred))

[[ 4  0  0  0  0  0]
 [ 0  2  0  0  0  0]
 [ 0  1 14  0  0  0]
 [ 0  0  0 11  2  0]
 [ 0  0  0  1 19  2]
 [ 0  0  0  0  4 40]]

In [44]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       0.67      1.00      0.80         2
           2       1.00      0.93      0.97        15
           3       0.92      0.85      0.88        13
           4       0.76      0.86      0.81        22
           5       0.95      0.91      0.93        44

    accuracy                           0.90       100
   macro avg       0.88      0.93      0.90       100
weighted avg       0.91      0.90      0.90       100

In [51]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(xtrain,ytrain)

GaussianNB()

In [52]:
nb_pred = nb.predict(xtest)

In [54]:
accuracy_score(ytest,nb_pred)

0.69

#####