In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('E:\ML\Bmi.csv')

In [4]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Gender"]=le.fit_transform(df.Gender)
df.head()

   Gender  Height  Weight  Index
0       1     174      96      4
1       1     189      87      2
2       0     185     110      4
3       0     195     104      3
4       1     149      61      3

In [7]:
from sklearn.model_selection import train_test_split
x = df[["Gender","Height","Weight"]]
y = df.Index
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1,shuffle=True)

In [9]:
from sklearn.svm import LinearSVC
svc=LinearSVC()
svc.fit(xtrain,ytrain)

C:\Users\user\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC()

In [10]:
ypred=svc.predict(xtest)

### Overfitting & underfitting

In [11]:
from sklearn.

array([5, 2, 3, 2, 5, 5, 5, 2, 3, 5, 5, 2, 5, 3, 3, 3, 2, 5, 5, 3, 2, 5,
       5, 2, 5, 3, 5, 3, 3, 3, 3, 5, 2, 5, 3, 5, 2, 2, 3, 5, 2, 2, 5, 5,
       5, 3, 5, 5, 2, 5, 3, 2, 3, 2, 5, 2, 2, 5, 5, 2, 2, 0, 5, 3, 2, 5,
       2, 5, 5, 3, 5, 2, 5, 5, 5, 5, 5, 2, 2, 5, 5, 5, 2, 3, 2, 5, 5, 5,
       5, 5, 2, 5, 2, 5, 5, 2, 5, 3, 5, 2], dtype=int64)